:root {
	--color-blue-1: rgb(87, 87, 234);
	--color-blue-2: rgb(75, 75, 212);
	--color-blue-3: rgb(57, 57, 172);
	--color-blue-4: rgb(49, 49, 147);
	--color-blue-5: rgb(38, 38, 114);

	// --color-red-1: rgb(234, 87, 87);
	// --color-red-2: rgb(212, 75, 75);
	// --color-red-3: rgb(172, 57, 57);
	// --color-red-4: rgb(147, 49, 49);
	// --color-red-5: rgb(114, 38, 38);

	// --color-blue-1: var(--color-red-1);
	// --color-blue-2: var(--color-red-2);
	// --color-blue-3: var(--color-red-3);
	// --color-blue-4: var(--color-red-4);
	// --color-blue-5: var(--color-red-5);
}

* {
	box-sizing: border-box;
	font-family: "Alexandria", sans-serif;
	color: inherit;
}

body,
html {
	direction: rtl;
	margin: 0;
	padding: 0;
	background: url("/bg.png");

	@media (max-width: 840px) {
		font-size: 14px;
	}
}
